<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feiji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,518},{238,126}}</string>
                <key>offset</key>
                <string>{304,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{635,5},{238,126}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{522,128}}</string>
                <key>offset</key>
                <string>{139,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,5},{522,128}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{514,128}}</string>
                <key>offset</key>
                <string>{140,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,5},{514,128}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{576,128}}</string>
                <key>offset</key>
                <string>{105,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,5},{576,128}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{542,128}}</string>
                <key>offset</key>
                <string>{94,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,5},{542,128}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{574,130}}</string>
                <key>offset</key>
                <string>{44,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,3},{574,130}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{546,128}}</string>
                <key>offset</key>
                <string>{26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,5},{546,128}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{546,128}}</string>
                <key>offset</key>
                <string>{-29,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,5},{546,128}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1161},{484,126}}</string>
                <key>offset</key>
                <string>{-57,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,6},{484,126}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{514,126}}</string>
                <key>offset</key>
                <string>{-105,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,6},{514,126}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji19.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1135},{480,126}}</string>
                <key>offset</key>
                <string>{-119,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,6},{480,126}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,518},{302,126}}</string>
                <key>offset</key>
                <string>{271,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,6},{302,126}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{488,126}}</string>
                <key>offset</key>
                <string>{-159,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,6},{488,126}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji21.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,774},{452,126}}</string>
                <key>offset</key>
                <string>{-206,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{452,126}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji22.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1030},{272,104}}</string>
                <key>offset</key>
                <string>{-162,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,11},{272,104}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,645},{296,128}}</string>
                <key>offset</key>
                <string>{271,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{573,5},{296,128}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{360,128}}</string>
                <key>offset</key>
                <string>{238,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,5},{360,128}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,260},{352,128}}</string>
                <key>offset</key>
                <string>{239,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{513,5},{352,128}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji6.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,389},{414,128}}</string>
                <key>offset</key>
                <string>{205,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,5},{414,128}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji7.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,131},{406,128}}</string>
                <key>offset</key>
                <string>{206,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,5},{406,128}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji8.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1262},{468,128}}</string>
                <key>offset</key>
                <string>{173,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,5},{468,128}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
            <key>feiji9.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,901},{460,128}}</string>
                <key>offset</key>
                <string>{173,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,5},{460,128}}</string>
                <key>sourceSize</key>
                <string>{900,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feiji.png</string>
            <key>size</key>
            <string>{985,1392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1566639d6271d7650ac997683354297d:1/1$</string>
            <key>textureFileName</key>
            <string>feiji.png</string>
        </dict>
    </dict>
</plist>
