<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shunzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,182},{98,50}}</string>
                <key>offset</key>
                <string>{-245,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,43},{98,50}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,690},{326,94}}</string>
                <key>offset</key>
                <string>{-87,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,22},{326,94}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{346,94}}</string>
                <key>offset</key>
                <string>{-75,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,22},{346,94}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,288},{368,94}}</string>
                <key>offset</key>
                <string>{-63,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{368,94}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi13.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,192},{388,94}}</string>
                <key>offset</key>
                <string>{-51,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,22},{388,94}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi14.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,96},{406,94}}</string>
                <key>offset</key>
                <string>{-37,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,22},{406,94}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{424,94}}</string>
                <key>offset</key>
                <string>{-24,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,21},{424,94}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{446,92}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,23},{446,92}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,92}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,23},{454,92}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi18.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,384},{340,82}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,30},{340,82}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi19.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,468},{334,82}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,29},{334,82}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{136,66}}</string>
                <key>offset</key>
                <string>{-219,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,35},{136,66}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi20.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,542},{240,80}}</string>
                <key>offset</key>
                <string>{37,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,32},{240,80}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi21.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,288},{238,78}}</string>
                <key>offset</key>
                <string>{41,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,34},{238,78}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi22.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,368},{238,76}}</string>
                <key>offset</key>
                <string>{43,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,33},{238,76}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi23.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,474},{214,70}}</string>
                <key>offset</key>
                <string>{58,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,38},{214,70}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi24.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,216},{214,70}}</string>
                <key>offset</key>
                <string>{60,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,39},{214,70}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi25.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,182},{118,64}}</string>
                <key>offset</key>
                <string>{111,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,39},{118,64}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi26.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{114,34}}</string>
                <key>offset</key>
                <string>{115,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,68},{114,34}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi27.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,624},{62,34}}</string>
                <key>offset</key>
                <string>{143,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,68},{62,34}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,96},{172,84}}</string>
                <key>offset</key>
                <string>{-193,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{172,84}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,38},{210,100}}</string>
                <key>offset</key>
                <string>{-168,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,19},{210,100}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,96},{246,118}}</string>
                <key>offset</key>
                <string>{-142,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{246,118}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,474},{242,94}}</string>
                <key>offset</key>
                <string>{-140,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,22},{242,94}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,446},{262,94}}</string>
                <key>offset</key>
                <string>{-126,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{262,94}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,378},{280,94}}</string>
                <key>offset</key>
                <string>{-111,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{280,94}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>shunzi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,282},{304,94}}</string>
                <key>offset</key>
                <string>{-99,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{304,94}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shunzi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d15bed19f47a64e975c6f3bc2b5498b:1/1$</string>
            <key>textureFileName</key>
            <string>shunzi.png</string>
        </dict>
    </dict>
</plist>
