<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,642},{124,124}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{124,124}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>exp_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,770},{176,142}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,37},{176,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,768},{176,140}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,38},{176,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,768},{174,142}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,37},{174,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,626},{174,140}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{174,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,770},{176,142}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,37},{176,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{156,182}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{156,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,306},{150,194}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{150,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,306},{150,194}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{150,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,170},{154,196}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{154,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,170},{158,194}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{158,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,766},{168,156}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{168,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,166},{198,138}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,43},{198,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,172},{190,148}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,45},{190,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,330},{138,180}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{138,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{138,178}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{138,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{138,184}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{138,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{138,178}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,14},{138,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,326},{138,180}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{138,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,168}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{200,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{200,166}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{200,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,162}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{200,166}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{200,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,168}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{200,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,322},{158,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{158,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,322},{158,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{158,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{158,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{158,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{158,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{158,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_16_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{158,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{158,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,458},{138,150}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{138,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,470},{138,150}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{138,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,622},{138,150}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{138,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_17_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,470},{138,150}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{138,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_17_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,626},{138,150}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{138,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,750},{138,146}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,33},{138,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,750},{138,146}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,33},{138,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,610},{138,148}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,29},{138,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_18_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,610},{138,148}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,29},{138,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_18_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,610},{138,148}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,29},{138,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,482},{158,178}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{158,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,482},{158,178}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{158,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_19_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,466},{158,178}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{158,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_19_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,482},{158,178}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{158,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_19_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,466},{158,178}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{158,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exp2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad3916e9612aaf5acfd141ded7676406:1/1$</string>
            <key>textureFileName</key>
            <string>exp2.png</string>
        </dict>
    </dict>
</plist>
